* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.form-field-style {
  min-height: 36px;
  width: 100%;
  border-radius: 4px;
  padding: 8px;
  border: 1px solid #E1E1E1;
}

.button {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  background-color: #0095FF;
  color: #FFFFFF;
  border: none;
  display: flex;
  align-items: center;
}
.button__text {
  flex-grow: 2;
  font-weight: 700;
}
.button:hover {
  background-color: #0065AD;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .button {
    max-width: 150px;
  }
  .button--bio {
    max-width: 150px;
    padding: 0 32px;
    align-self: flex-end;
  }
}

@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/font/alternativeFiles/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/font/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/font/alternativeFiles/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
h1 {
  font-family: "AvenirNext";
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  padding: 24px 0 16px 16px;
  margin: 0;
}

h2 {
  font-family: "AvenirNext";
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 24px 0 16px 16px;
  margin: 0;
}

h3 {
  font-family: "AvenirNext";
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  padding: 16px;
}

p,
a,
input,
textarea,
li {
  font-family: "AvenirNext";
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  padding: 0 16px;
  margin: 0;
}

label,
button {
  font-family: "AvenirNext";
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
}

.video__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  .video__info {
    padding: 0 36px;
  }
}
@media only screen and (min-width: 1280px) {
  .video__info {
    padding: 0 0 0 8rem;
  }
}
.video__title {
  padding: 24px 16px 16px 16px;
}
@media only screen and (min-width: 768px) {
  .video__title {
    padding-left: 0;
  }
}
.video__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 16px;
  padding: 16px 0;
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
}
@media only screen and (min-width: 768px) {
  .video__details {
    margin: 0;
    border-top: 0;
    padding-top: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .video__details {
    padding-right: 16px;
  }
}
.video__text {
  padding: 0;
  color: #AFAFAF;
}
.video__left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media only screen and (min-width: 768px) {
  .video__left {
    flex-direction: row;
    gap: 32px;
  }
}
.video__author {
  color: #323232;
  font-weight: 600;
}
.video__right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media only screen and (min-width: 768px) {
  .video__right {
    flex-direction: row;
    gap: 32px;
  }
}
.video__views {
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  .video__views {
    gap: 10px;
  }
}
.video__likes {
  display: flex;
  justify-content: space-between;
}
.video__likes--text {
  text-align: left;
}
@media only screen and (min-width: 768px) {
  .video__likes {
    gap: 10px;
  }
}
.video__description {
  padding: 16px;
}
@media only screen and (min-width: 768px) {
  .video__description {
    padding: 16px 0;
  }
}
@media only screen and (min-width: 1280px) {
  .video__description {
    padding: 16px 16px 16px 0;
  }
}/*# sourceMappingURL=VideoInfo.css.map */